<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Diary | {{ .Title }}</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">

      {{ $stylemain := resources.Get "css/style.css" | minify | fingerprint "sha512" }}
      <link rel="stylesheet" href="{{ $stylemain.RelPermalink }}" integrity="{{ $stylemain.Data.Integrity }}">
  </head>
  <body>
    <aside id="side-nav-open">
      <nav>
        {{ partial "side-nav-bar" (dict "currentPage" . "pages" .Site.Home.Pages) }}
      </nav>
    </aside>

    <main>
      {{ block "main" . }}
      {{ end }}
    </main>
  </body>
</html>
